
body{
    background: #14593D;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.signin{
  font-family: 'Noto Naskh Arabic', serif;
  color: black;
  font-size:x-large;
  text-decoration: none;
}


.main-container{
    margin: 0 auto;
  }



@media (max-width: 1000px) {
    body {
      background: transparent;
      padding: 10px;
      height: auto;
    }

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      width: 50%;
    }

    .main-container{
        margin: 0;
    }

  }



/* on bigger screens */
  @media (min-width: 1001px) {
    .card {
      width: 33.33%; 
    }
  }



/* on smaller screens */
  @media(max-width: 600px){
    .card{
      width: 100%;
    }
  }
